beautifulsoup4==4.11.1
fastapi==0.78.0
flair==0.10
Pillow==9.1.1
pydantic==1.9.0
pynput==1.7.6
pytesseract==0.3.9
python-dotenv==0.20.0
requests==2.27.1
SQLAlchemy==1.4.34
uvicorn==0.15.0
webdriver_manager==3.5.4
selenium==4.1.5
