/***************************************************************
    Before making changes to this file, please create a backup copy and store it in a safe place!
    The custom.css file is to be used for creating style customizations of Blue.
    Any changes made to this file will be preserved during upgrades.
    
    To customize the Blue Management Interface you can use #BlueSystemDefaultBody which is the id of the body tag. 
  
    End User pages will have a class name appended to the body tag that is based on the theme in use.

    For themes by eXplorance the class name will be "explorance-" + blue Theme
    Example: 
        .explorance-blue {}, 
        .explorance-red_grey {}
    
    For Custom themes the Theme Name will be converted to lower case with dashes instead of spaces.
    Example:   
        Department of History 
        .department-of-history {}

    For Reports, in addition to the theme name, report pages will have a class name appended to the body tag
    that is based on the base theme color
    Example: 
        .blue
        .red_grey

*/
/***************************************************************
    Before making changes to this file, please create a backup copy and store it in a safe place!
    The custom.css file is to be used for creating style customizations of Blue.
    Any changes made to this file will be preserved during upgrades.
    
    To customize the Blue Management Interface you can use #BlueSystemDefaultBody which is the id of the body tag. 
  
    End User pages will have a class name appended to the body tag that is based on the theme in use.

    For themes by eXplorance the class name will be "explorance-" + blue Theme
    Example: 
        .explorance-blue {}, 
        .explorance-red_grey {}
    
    For Custom themes the Theme Name will be converted to lower case with dashes instead of spaces.
    Example:   
        Department of History 
        .department-of-history {}

    For Reports, in addition to the theme name, report pages will have a class name appended to the body tag
    that is based on the base theme color
    Example: 
        .blue
        .red_grey

*/

/* TOP BANNER */
#BlueSystemDefaultBody .bootstrap-style .header-container{
background-color: #800000;
}

/* Menu Manage Project */
#BlueSystemDefaultBody .tabs .primary-tabs .tab-control, #BlueSystemAdminBody .tabs .primary-tabs .tab-control, #BlueSystemDefaultBody .tabs .primary-tabs a, #BlueSystemAdminBody .tabs .primary-tabs a 
{
	background-color: #800000;
}

/* ZD 48726 UChicago */
.QuestionStyle {
    PADDING: 4px;
    filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr=#D6D6CE, endColorstr=#ffffff);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr=#D6D6CE, endColorstr=#ffffff)";
    background-image: -webkit-gradient(linear, left top, left bottom, from(#D6D6CE), to(#ffffff));
    background-image: -webkit-linear-gradient(top, #D6D6CE 0%, #ffffff 100%);
    background-image: -moz-linear-gradient(top, #D6D6CE 0%, #ffffff 100%);
    background-image: -o-linear-gradient(top, #D6D6CE 0%, #ffffff 100%);
    background-image: linear-gradient(to bottom, #D6D6CE 0%, #ffffff 100%);
}

.FilloutBaseDivStyle {
    filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr=#D6D6CE, endColorstr=#ffffff);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr=#D6D6CE, endColorstr=#ffffff)";
    background-image: -webkit-gradient(linear, left top, left bottom, from(#D6D6CE), to(#ffffff));
    background-image: -webkit-linear-gradient(top, #D6D6CE 0%, #ffffff 100%);
    background-image: -moz-linear-gradient(top, #D6D6CE 0%, #ffffff 100%);
    background-image: -o-linear-gradient(top, #D6D6CE 0%, #ffffff 100%);
    background-image: linear-gradient(to bottom, #D6D6CE 0%, #ffffff 100%);
}

.FilloutBaseDivStyleRTL {
    filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr=#D6D6CE, endColorstr=#ffffff);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr=#D6D6CE, endColorstr=#ffffff)";
    background-image: -webkit-gradient(linear, left top, left bottom, from(#D6D6CE), to(#ffffff));
    background-image: -webkit-linear-gradient(top, #D6D6CE 0%, #ffffff 100%);
    background-image: -moz-linear-gradient(top, #D6D6CE 0%, #ffffff 100%);
    background-image: -o-linear-gradient(top, #D6D6CE 0%, #ffffff 100%);
    background-image: linear-gradient(to bottom, #D6D6CE 0%, #ffffff 100%);
}

.FilloutQuestionDivRowStyle {
    background: #D6D6CE;
    filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr=#D6D6CE, endColorstr=#ffffff);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr=#D6D6CE, endColorstr=#ffffff)";
    background-image: -webkit-gradient(linear, left top, left bottom, from(#D6D6CE), to(#ffffff));
    background-image: -webkit-linear-gradient(top, #D6D6CE 0%, #ffffff 100%);
    background-image: -moz-linear-gradient(top, #D6D6CE 0%, #ffffff 100%);
    background-image: -o-linear-gradient(top, #D6D6CE 0%, #ffffff 100%);
    background-image: linear-gradient(to bottom, #D6D6CE 0%, #ffffff 100%);
}

.FilloutMetaDivStyle {
    filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr=#D6D6CE, endColorstr=#ffffff);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr=#D6D6CE, endColorstr=#ffffff)";
    background-image: -webkit-gradient(linear, left top, left bottom, from(#D6D6CE), to(#ffffff));
    background-image: -webkit-linear-gradient(top, #D6D6CE 0%, #ffffff 100%);
    background-image: -moz-linear-gradient(top, #D6D6CE 0%, #ffffff 100%);
    background-image: -o-linear-gradient(top, #D6D6CE 0%, #ffffff 100%);
    background-image: linear-gradient(to bottom, #D6D6CE 0%, #ffffff 100%);
}

.FilloutQuestionDivStyle {
    filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr=#D6D6CE, endColorstr=#ffffff);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr=#D6D6CE, endColorstr=#ffffff)";
    background-image: -webkit-gradient(linear, left top, left bottom, from(#D6D6CE), to(#ffffff));
    background-image: -webkit-linear-gradient(top, #D6D6CE 0%, #ffffff 100%);
    background-image: -moz-linear-gradient(top, #D6D6CE 0%, #ffffff 100%);
    background-image: -o-linear-gradient(top, #D6D6CE 0%, #ffffff 100%);
    background-image: linear-gradient(to bottom, #D6D6CE 0%, #ffffff 100%);
}

.FilloutMetaDivStyleRTL {
    filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr=#D6D6CE, endColorstr=#ffffff);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr=#D6D6CE, endColorstr=#ffffff)";
    background-image: -webkit-gradient(linear, left top, left bottom, from(#D6D6CE), to(#ffffff));
    background-image: -webkit-linear-gradient(top, #D6D6CE 0%, #ffffff 100%);
    background-image: -moz-linear-gradient(top, #D6D6CE 0%, #ffffff 100%);
    background-image: -o-linear-gradient(top, #D6D6CE 0%, #ffffff 100%);
    background-image: linear-gradient(to bottom, #D6D6CE 0%, #ffffff 100%);
}

.FilloutQuestionDivStyleRTL {
    filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr=#D6D6CE, endColorstr=#ffffff);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr=#D6D6CE, endColorstr=#ffffff)";
    background-image: -webkit-gradient(linear, left top, left bottom, from(#D6D6CE), to(#ffffff));
    background-image: -webkit-linear-gradient(top, #D6D6CE 0%, #ffffff 100%);
    background-image: -moz-linear-gradient(top, #D6D6CE 0%, #ffffff 100%);
    background-image: -o-linear-gradient(top, #D6D6CE 0%, #ffffff 100%);
    background-image: linear-gradient(to bottom, #D6D6CE 0%, #ffffff 100%);
}

.FilloutControllerDivTableRTL .FilloutSectionDivStyle {
    background: #D6D6CE;
    filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr=#D6D6CE, endColorstr=#ffffff);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr=#D6D6CE, endColorstr=#ffffff)";
    background-image: -webkit-gradient(linear, left top, left bottom, from(#D6D6CE), to(#ffffff));
    background-image: -webkit-linear-gradient(top, #D6D6CE 0%, #ffffff 100%);
    background-image: -moz-linear-gradient(top, #D6D6CE 0%, #ffffff 100%);
    background-image: -o-linear-gradient(top, #D6D6CE 0%, #ffffff 100%);
    background-image: linear-gradient(to bottom, #D6D6CE 0%, #ffffff 100%);
}

.FilloutControllerDivTable .FilloutSectionDivStyle {
    filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr=#D6D6CE, endColorstr=#ffffff);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr=#D6D6CE, endColorstr=#ffffff)";
    background-image: -webkit-gradient(linear, left top, left bottom, from(#D6D6CE), to(#ffffff));
    background-image: -webkit-linear-gradient(top, #D6D6CE 0%, #ffffff 100%);
    background-image: -moz-linear-gradient(top, #D6D6CE 0%, #ffffff 100%);
    background-image: -o-linear-gradient(top, #D6D6CE 0%, #ffffff 100%);
    background-image: linear-gradient(to bottom, #D6D6CE 0%, #ffffff 100%);
}

.FilloutSectionDivRowStyle 
{
	background-color: #D6D6CE; /*firefox*/
}

#BlueSystemDefaultBody .left-menu
{
	background: #800000;
}

#BlueSystemAdminBody .left-menu
{
	background: #800000;
}

#BlueSystemAdminBody .bootstrap-style .header-container
{
	background-color: #800000;
}

.divProjectTitle
{ 
display : none 
}

/*ZD49703*/
#SubjectViewUC_trFilloutMode {
display: none;
}

/*ZD49860 Deselect logo on survey open*/
.welcomeCSS #FilloutController_lnkLogo:focus {
box-shadow: none;
outline: none;
border: none;
}
.filloutCSS #FilloutController_lnkLogo:focus {
box-shadow: none;
outline: none;
border: none;
}
.thankyouCSS #FilloutController_lnkLogo:focus {
box-shadow: none;
outline: none;
border: none;
}

/* ZD51143 */
.report .audience-data dl dd:nth-of-type(3),
.report .audience-data dl dt:nth-of-type(3),
.report .audience-data dl dd:nth-of-type(4),
.report .audience-data dl dt:nth-of-type(4) {
display: none;
}

/*ZD54437*/
.explorance_legacy.blue.blue .cover-page-project-title {
display:none;
}

.header-container .header-logo {
    background: #800000;
}